body {
    background: #eeeeef;
    overflow-x: hidden;
}

.notification {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 5px;
    right: 5px;
    width: 20vw;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    min-height: 50px;
    z-index: 100;
    box-shadow: 10px;
}

.success {
    background: green;
}

.warning {
    background: orange;
}

.error {
    background: maroon;
}
