.summary-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.summary-item {
    width: 22%;
    border: solid 2px #eee;
    height: 125px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 {
        flex-basis: 2;
    }
}

.nav-tab-item {
    &:hover {
        cursor: pointer;
    }
}

button.add-transaction {
    padding: 0px 4px;
    line-height: normal;
    font-size: 1.2rem;
}

.transaction-form {
    padding: 15px;
}
