@import '../../../style.scss';
.navbar {
    background-color: $primaryColor !important;
    color: $navbarTextColor !important;
    a {
        color: $navbarTextColor !important;
    }
    .navbar-text {
        color: $navbarTextColor;
    }
}
